In [3]:
#Q1: Choose your base between 3 and 13

#Q2: Add/Substraction single digit and multiple numbers in your number system

#Q3: Prepare a table of single digit multiplications in your number system.

#Q4: Multiply multiple digits in your number system

#Q5: Convert 1, 10, 20, 30, 100 from your base to base10.

#Q6. Write a strategy to convert a number in your base to base 10 in plain english or psedo code or code

#Q7. Write a strategy to convert a number in base N to base M in plain english or psedo code or code

#Q8.

#Q: In base 10, how many numbers can you represent in 5 digits?
#Q: Write your own algorithm or strategy to find log10. You can use 10**x.

In [5]:
#Q1: Choose your base between 3 and 13

base = 9

In [9]:
# 0    10   20  30   40   50   60   70   80    100
# 1    11   21  31   41   51   61   72   81    101
# 2    12   22  32   42   52   62   72   82    102
# 3    13   23  33   43   53   63   73   83    103
# 4    14   24  34   44   54   64   74   84    104
# 5    15   25  35   45   55   65   75   85    105
# 6    16   26  36   46   56   66   76   86    106
# 7    17   27  37   47   57   67   77   87    107
# 8    18   28  38   48   58   68   78   88    108

#Q2: Add/Substraction single digit and multiple numbers in your number system

  #Addition
  2088 + 5
   
   8+5 = 13 => in base 9 : 9+4 = 10+4 = 14  | 4
    
   #carry 1  
    8+1 = 10    | 0
    
   #carry 1
    8+1 = 10   | 0
    
   #carry 1
   2+1 = 3
   
   so 2088 + 5 = 3004
   
   8888 
  +   1
  ------
  10000
  
  #Subtraction
  2088 - 5 = 2083

In [12]:
#Q3: Prepare a table of single digit multiplications in your number system.

# 1     2    3    4    5    6    7    8  
# 2     4    6    8   11   13   15   17
# 3     6   10   13   16   20   23   26
# 4     8   13   17   22   26   31   35
# 5    11   16   22   27   33   38   44
# 6    13   20   26   33   40   46   50
# 7    15   23   31   38   42   54   62
# 8    17   26   35   44   50   62   71

In [ ]:
#Q4: Multiply multiple digits in your number system

#355*2 = 721

355
* 2 
----
 5*2 = 10(decimal) = 11 in base 9 so carry  = 1
    
 5*2 = 10 (decimal) = 11 in base 9  so carry 1+11 =12 , so carry is 1
3*2 = 6 + carry 1 = 7 
hence answer is 721

In [1]:
x = 2
print(x)

2

In [ ]:
#Q5: Convert 1, 10, 20, 30, 100 from your base to base10.

# base 9 |   base 10
#  1            1
#  10           9
#  20          18
#  30          27
#  40          36
#  50          45
#  60          54
#  70          63
#  80          72
# 100          81

In [60]:
# Code to convert from base 10 to base N
# 24568
# * 888
# -----
 
    
#24568 
num1 = 0 
num2 = 0
num1 = 2*9**4+4*9**3+5*9**2+6*9**1+8*9**0
print(f"num1:{num1}")

#888
num2 = 8*9**2+8*9**1+8*9**0
print(f"num2:{num2}")

result = num1*num2 
print(result)


def convertBase10TOBaseM(result, baseM):
    final_result = ""
    while result > 0 :
        #print(f"result:{result}")
        remainder = result % baseM
        #print(f"remainder:{remainder}")

        new_num = result // baseM
        #print(f"new_num:{new_num}")

        final_result = str(remainder) if (final_result == "") else final_result + str(remainder)
        #print(f"final_result : {(final_result)}") 
        result = new_num
    return int(str(final_result)[:: -1])

convertBase10TOBaseM(result,9)
convertBase10TOBaseM(100,9)

num1:16505
num2:728
12015640

121

In [ ]:
x = '1234'
print(int(str(x)[:: -1]))

In [41]:
 #Q6.Write a strategy to convert a number in your base to base 10 in plain english or psedo code or code

def convertBaseNToBase10(number,base) :
    stringNum = str(number)

    stringNum = stringNum if stringNum.find(".") == -1 else stringNum.split(".")[0]

    num = int(stringNum)
    
    length = len(stringNum)

    numTOBase10 = 0;

    for i in range (length) :
        digit = num% 10
        num = num // 10
        numTOBase10 +=  base** i *digit
    return numTOBase10    
 
# base 9 |   base 10
#  1            1
#  10           9
#  20          18
#  30          27
#  40          36
#  50          45
#  60          54
#  70          63
#  80          72
# 100          81
print(convertBaseNToBase10(10,9))
print(convertBaseNToBase10(20,9))
print(convertBaseNToBase10(30,9))
print(convertBaseNToBase10(40,9))
print(convertBaseNToBase10(50,9))
print(convertBaseNToBase10(60,9))
print(convertBaseNToBase10(70.3,9))
print(convertBaseNToBase10(80,9))
print(convertBaseNToBase10(100,9))
print(convertBaseNToBase10(110,9))

9
18
27
36
45
54
63
72
81
90

In [56]:
#Q7. Write a strategy to convert a number in base N to base M in plain english or psedo code or code
def convertBaseNToBaseM(number,baseN, baseM) :
    stringNum = str(number)

    stringNum = stringNum if stringNum.find(".") == -1 else stringNum.split(".")[0]

    num = int(stringNum)
    
    num10 = convertBaseNToBase10(num,baseN)
    if baseM != 10 :
        return convertBase10TOBaseM(num10,baseM) 
    else: 
        return num10
      
convertBaseNToBaseM(2458,9, 6) 
convertBaseNToBaseM(2458,9, 9)

2458

In [52]:
#Q: In base 10, how many numbers can you represent in 5 digits?
10**5

100000

In [54]:
#Q: Write your own algorithm or strategy to find log10. You can use 10**x.